@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-width: 1280px;
}

body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

input, button, select, textarea {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

/* Все коричневые кнопки */

.button-want-here {
  display: block;
  width: 160px;
  margin: 0 auto;
  padding: 8px 34px;
  border-radius: 4px;
  background-color: #756157;
}

.button-search-hotel {
  display: table;
  margin: 0 auto;
  width: 376px;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-radius: 4px;
  background-color: #756157;
}

.button-want-here:hover,
.button-search-hotel:hover,
.button-hotel-more-info:hover {
  background-color: #615048;
}

.button-want-here:focus,
.button-search-hotel:focus,
.button-hotel-more-info:focus {
  background-color: #615048;
}

.button-want-here:active,
.button-search-hotel:active,
.button-hotel-more-info:active {
  color: rgba(255, 255, 255, .3);
  background-color: #756157;
}

/* Все синие кнопки */

.button-mailing {
  padding: 8px 50px;
  min-height: 52px;
  font-size: 20px;
  background-color: #82B3D3;
  border: none;
  border-radius: 0 4px 4px 0;
}

.button-hotel-favorite {
  width: 140px;
  padding: 8px 20px;
  border-radius: 4px;
  background-color: #82B3D3;
}

.button-mailing:hover,
.button-submit:hover,
.button-hotel-favorite:hover,
.modal-button-search:hover {
  background-color: #68A2CA;
}

.button-mailing:focus,
.button-submit:focus,
.button-hotel-favorite:focus,
.modal-button-search:focus {
  background-color: #68A2CA;
}

.button-mailing:active,
.button-submit:active,
.button-hotel-favorite:active,
.modal-button-search:active {
  color: rgba(255, 255, 255, .3);
  background-color: #82B3D3;
}

/* Все кнопки без фона */

.button-reset:hover {
  opacity: .6;
}

.button-reset:focus-visible {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-reset:active {
  opacity: .3;
}

.button-reset:disabled {
  opacity: .1;
}

/* Все зеленые кнопки */

.button-hotel-in-favorite {
  width: 140px;
  padding: 8px 18px;
  border-radius: 4px;
  background-color: #7DB54F;
}

.button-hotel-in-favorite:hover {
  background-color: #6C9E42;
}

.button-hotel-in-favorite:focus {
  background-color: #6C9E42;
}

.button-hotel-in-favorite:active {
  color: rgba(255, 255, 255, .3);
  background-color: #7DB54F;
}

/* Все неактивные кнопки */

.button-want-here:disabled,
.button-search-hotel:disabled,
.button-hotel-more-info:disabled,
.button-mailing:disabled,
.button-submit:disabled,
.button-hotel-favorite:disabled,
.button-hotel-in-favorite:disabled {
  color: rgba(255, 255, 255, .1);
  background-color: #E5E5E5;
}

.email-field {
  background-color: #F2F2F2;
  font-family: "PT Sans", sans-serif;
}

.email-field:hover {
  background-color: #E5E5E5;
}

.email-field:focus-visible {
  background-color: #E5E5E5;
}

.email-field:active {
  opacity: .6;
}

/* index */

.page-container {
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}

/* header */

/* Навигация (nav) */

.page-header {
  padding-left: 70px;
  padding-right: 70px;
}

.logo-link {
  margin-right: 28px;
}

.logo {
  display: block;
  width: 140px;
  transition: 0.7s;
  margin-bottom: -6px;
}

.logo:hover {
  transform: scale(1.05);
}

.logo:active {
  transform: scale(1);
}

.navigation {
  position: relative;
  display: flex;
  min-height: 64px;
  margin: 0 auto;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  max-width: 600px;
}

.navigation-link {
  display: block;
  position: relative;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  transition: 0.7s;
}

.navigation-link:hover {
  transition: 0.7s;
  background-color: #68A2CA;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  right: 16px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  background-color: #756257;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-user-item {
  padding: 22px 12px;
}

.navigation-user-link {
 position: relative;
 display: block;
 width: 20px;
 height: 20px;
}

.navigation-user-link:hover path {
  opacity: .6;
}

.favorite-counter {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 10px;
  top: -11px;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #7DB54F;
}

.navigation-user-item-button {
  margin-left: 20px;
}

/* main-index */

.main-container {
  flex-grow: 1;
}


.hero {
  position: relative;
  height: 485px;
  padding: 52px 0 82px;
  background-color: #2f4850;
  background-image: url("../images/main/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
}

.hero::after {
  content: "";
  width: 1200px;
  min-height: 57px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../images/main/hero-divider.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-module {
  padding-top: 69px;
  padding-bottom: 90px;
  text-align: center;
}

.hero-module-title {
  margin: 0 auto;
  width: 620px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.hero-module-subtitle {
  margin: 0;
  margin-top: 25px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

/* Блок "преимущества" */

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-item {
  width: 100%;
}

.advantages-item-with-image {
  display: flex;
  align-items: center;
  background-color: #82B3D3;
  grid-column: 1 / -1;
}

.advantages-item-with-image-reverse {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background-color: #82B3D3;
  grid-column: -1 / 1;
}

.advantages-wrapper {
  padding: 102px 85px;
  background-color: #82B3D3;
}

.advantages-item-light-gray {
  padding: 113px 85px 112px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-gray {
  padding: 113px 85px 112px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  margin: 0;
  padding: 0 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-description {
  position: relative;
  margin: 0;
  padding: 30px 0 0 0;
}

.advantages-description::before {
  content: "";
  display: block;
  position: relative;
  margin: 0 auto 30px;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, .3);
}

.advantages-description-white::before {
  content: "";
  display: block;
  position: relative;
  margin: 0 auto 30px;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, .3);
}

.advantages-title-white,
.advantages-description-white {
  color: #ffffff;
}

.advantages-module {
  padding: 64px 0;
  text-align: center;
}

.advantages-module-title {
  margin: 0 auto;
  width: 505px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-module-subtitle {
  margin: 0;
  margin-top: 20px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

/* Блок "предложения" */

.suggestions-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  list-style-type: none;
  align-items: flex-start;
}

.suggestions-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
  padding: 81px 85px;
}

.suggestions-item-light-gray {
  background-color: rgba(131, 179, 211, 0.12);
}

.suggestions-item-white {
 background-color: #ffffff;
}

.sugguestion-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.suggestion-description {
  margin: 0;
}

/* Блок "Заинтересовались?"  */

.modules-intresting {
  padding: 96px 304px;
  text-align: center;
}

.modules-title-intresting {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modules-subtitle-intresting {
  margin: 0 auto;
  width: 592px;
  margin-top: 20px;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

/* Блок оформления подписки */

.mailing {
  text-align: center;
  padding: 96px 258px 104px;
  background-color: #758a98;
  background-image: url("../images/main/subscribe-index.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.mailing-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.mailing-subtitle {
  margin: 0 auto;
  width: 475px;
  margin-top: 20px;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.mailing-form {
  display: flex;
}

.email-field {
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
}

/* catalog */

.inner-wrapper {
  background-color: #7496b9;
  background-image: url("../images/main/catalog-background-blur.jpg");
  padding: 35px 70px 70px;
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
  color: #ffffff;
}

/* Блок сортировки и выбора услуг гостиниц */

/* Хлебные крошки */

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  color: #ffffff;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child):after {
  content: "";
  position: absolute;
  top: 0;
  right: 10px;
  width: 8px;
  height: 20px;
  background-image: url("../images/action-icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-link {
  margin-right: 28px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: #FFFFFF99;
}

.breadcrumbs-link:focus-visible {
  color: #ffffff;
}

.breadcrumbs-link:active {
  color: #FFFFFF4D;
}

/* Настройка заголовков для fieldset'ов */

.catalog-filter-title {
  margin: 0;
  padding: 0;
  width: 151px;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
}

/* Настройки фильтров (radio/checkbox)

Настройка form */

.hotels-filter {
  display: flex;
  gap: 70px;
}

/* Настройка fieldset */

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter-group {
  margin-left: 70px;
}

/* Настройки списков для инфраструктуры и типа жилья */

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item + .catalog-filter-item {
  margin-top: 16px;
}

/* Меню сортировки и предложений для гостиниц (Инфраструктура)*/

.control {
  line-height: 23px;
}

.control-label-square {
  position: relative;
  display: block;
  padding-left: 36px;
  color: #ffffff;
  cursor: pointer;
}

.control-label-square::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

/* Эффекты и состояния для checkbox (инфраструктура) */

.control-label-square:hover {
  opacity: .6;
}

.control-input-square:checked + .control-label-square::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("../images/action-icons/checkbox-check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input-square:focus-visible + .control-label-square::before {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.control-label-square:active{
  opacity: .3;
}

/* Меню сортировки и предложений для гостиниц (Тип жилья) */

.control-label-circle {
  position: relative;
  display: block;
  padding-left: 36px;
  color: #ffffff;
  cursor: pointer;
}

.control-label-circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 100%;
}

/* Эффекты и состояния для radio (тип жилья) */

.control-label-circle:hover {
  opacity: .6;
}

.control-input-circle:checked + .control-label-circle::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 100%;
}

.control-input-circle:focus-visible + .control-label-circle::before {
  outline: 3px solid #83B3D3;
}

.control-label-circle:active{
  opacity: .3;
}


/* Настройка стоимости (input) */

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
}

.catalog-filter-label {
  position: relative;
}

.range-input {
  width: 143px;
  height: 48px;
  padding: 12px 40px 12px 20px;
  font: inherit;
  font-weight: 700;
  text-align: left;
  background-color: #F2F2F2;
  border: none;
  appearance: textfield;
}

.range-input:hover {
  background-color: #E6E6E6;
}

.range-input:focus-visible {
  outline: 3px solid #83B3D3;
  border: none;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

/* Настройка "от" и "до" блока стоимости */

.range-from {
  position: absolute;
  width: 18px;
  height: 24px;
  ;
}

.range-to {
  position: absolute;
  width: 18px;
  height: 24px;
}

.range-from,
.range-to {
  top: 12px;
  right: 20px;
  text-transform: lowercase;
  color: rgba(0, 0, 0, .3);
}

/* Отключение функции выбора стоимости внутренними стрелочками в input */

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Настройка стоимости (range) */

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, .3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

/* Состояния и эффекты слайдера стоимости */

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
}

.range-toggle:focus-visible {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, .4);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

/* Контейнер кнопок блока фильтров услуг */

.catalog-filter-button {
  display: block;
  margin-top: 56px;
}

/* Кнопки применить/сбросить блока фильтров услуг */

.button-submit {
  display: block;
  width: 191px;
  margin-bottom: 32px;
  padding: 8px 50px;
  border-radius: 4px;
  background-color: #82B3D3;
}

.button-reset {
  display: block;
  width: 191px;
  padding: 8px 50px;
  background-color: transparent;
}

/* Блок с информацией о количестве гостиниц и фильтр их отображения */

.hotel-search-results {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 0 70px;
}

.found-hotels {
  margin: 0 auto 0 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

/* Блок с выпадающим списком (фильтр цены и популярности) */

.select-control {
  width: 292px;
  font-size: 18px;
  line-height: 21px;
  padding: 12px 38px 12px 18px ;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  background-image: url("../images/action-icons/arrow-down.svg");
  background-position: right 20px center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:focus-visible {
  border: 2px solid #68A2CA;
  outline: none;
}

.select-control:disabled {
  color: #0000004D;
  border: 2px solid #0000004D;
}

/* Список кнопок, отвечающих за смену отображения карточек отелей */

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 70px;
  padding: 0;
  gap: 8px;
  max-width: 160px;
  list-style-type: none;
}

/* Кнопки отображения карточек отелей */

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

/* Состояния и эффекты кнопок в карточках отелей */

.sorting-item-current .card-grid-toggle {
  border-color: #000000;
}

.card-grid-toggle:hover {
  border-color: #000000;
}

.card-grid-toggle:focus-visible {
  border-color: #68A2CA;
  outline: none;
}

.card-grid-toggle:active {
  border-color: #000000;
}

 /* Настройки карточек отелей

 Общие настройки section  */

.catalog-card-list {
  margin-bottom: 40px;
  padding: 0 70px;
}

/* Настройки списка отелей */

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Карточки отеля */

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  transition: 0.7s;
}

.hotel-card:hover {
  transform: scale(1.05);
}

.hotel-image {
  display: block;
}

.hotel-card-image {
  grid-column: 2 span;
}

.hotel-card-title {
  grid-column: 2 span;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotel-card-link {
  margin: 0;
  color: #000000;
  text-decoration: none;
}

.hotel-card-type {
  margin: 0;
}

.hotel-card-price {
  margin: 0;
  text-align: right;
}

.button-hotel-more-info {
  padding: 8px 20px;
  background-color: #756157;
  border-radius: 4px;
}

.button-hotel-favorite {
  padding: 8px  20px;
  background-color: #82B3D3;
  border-radius: 4px;
}

.star-raiting-wrapper {
  display: flex;
  align-items: center;
}

.star-raiting-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 6px;
}

.hotel-rating {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

/* Блок пагинации

Общие настройки контейнера */

.pagination-container {
  padding: 0 70px;
  margin-bottom: 60px;
}

/* Список элементов пагинации (ul) */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 40px 0 0;
  border-top: 1px solid #E6E6E6;
  list-style-type: none;
}

/* Элементы списка пагинации */

.pagination-link {
  display: flex;
  width: 60px;
  height: 60px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  border-radius: 4px;
}

/* Пропуск страниц в пагинации  */

.pagination-number-skip {
  display: flex;
  width: 60px;
  height: 60px;
  font-size: 22px;
  line-height: 26px;
  align-items: center;
  justify-content: center;
}

/* Состояния пагинации и эффекты */

.pagination-link-current .pagination-link {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-link-current:hover .pagination-link {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus-visible {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, .3);
}

/* Внутренняя форма подписки на рассылку

Настройки секции */

.inner-mailing {
  text-align: center;
  padding: 96px 258px 104px;
}

/* Настройки заголовка и подзаголовка формы подписки на рассылку */

.inner-mailing-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.inner-mailing-subtitle {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 54px;
  width: 475px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/* footer */

/* Общие настройки footer */

.page-footer {
  display: flex;
  padding: 45px 70px 35px;
  justify-content: space-between;
  align-items: center;
}

/* Общий список элементов и элементы footer (ul)(li) */

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 150px;
  list-style-type: none;
}

.footer-social-item {
  width: 48px;
  height: 40px;
}

/* Ссылки на соц. сети, вложенные в элементы списка footer */

.social-apps-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* Свойства и эффекты ссылок на соц. сети footer */

.social-apps-link:hover path {
  fill: #68A2CA;
}

.social-apps-link:focus path {
  fill: #68A2CA;
}

.social-apps-link:active path {
  fill: #68A2CA;
  opacity: .3;
}

/* Контакты footer */

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  align-self: center;
  text-decoration: none;
}

/* Свойства и эффекты контрактов footer */

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: #756157;
  opacity: .3;
}

/* Логотип компании html Academy в footer */

.html-academy-logo {
  width: 115px;
}

/* Свойства и эффекты логотипа компании html Academy в footer */

.html-academy-logo:hover path {
  fill: #756157;
}

.html-academy-logo:focus path {
  fill: #756157;
}

.html-academy-logo:active path {
  fill: #756157;
  opacity: .3;
}


/* Модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #F2F2F2CC;
  z-index: 2;
}

.modal-container-display {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  border-radius: 30px;
  background-color: #ffffff;
}

.modal-booking {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 100%;
  background-image: url("../images/action-icons/close-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus-visible {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
  border: none;
}

.modal-close-button:active {
 background-color: #E6E6E6;
 opacity: .3;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.booking-form {
  display: grid;
  grid-template-columns: 247px 1fr;
  gap: 23px 88px;
}

.field-group {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 440px;
  margin: 0;
  padding: 0;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: capitalize;
  grid-column: 1 / -1;
}

.check-in-date,
.check-out-date {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.check-in-date:hover,
.check-out-date:hover {
  opacity: .7;
}

.check-in-date:focus-visible,
.check-out-date:focus-visible {
  opacity: .7;
}

.check-in-date:active,
.check-out-date:active {
  opacity: .3;
}

.calendar {
  display: block;
  position: absolute;
  top: 14px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.calendar:hover svg g {
  fill: #000000;
  opacity: 1;
}

.error {
  grid-column: 2/3;
  margin-top: 4px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FF5757;
  text-transform: none;
}

.text-free-date {
  grid-column: 2/3;
  margin-top: 4px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: none;
}

.adults-wrapper,
.children-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.adults-input-wrapper {
  display: flex;
  margin-left: auto;
}

.children-input-wrapper {
  display: flex;
  margin-left: 46px;
}

.adults-wrapper {
  grid-column: 1 / 2;
}

.children-wrapper {
  grid-column: 2 / 3;
}

.popup {
  margin-left: 10px;
  position: relative;
}

.popup-text {
  display: none;
  position: absolute;
  padding: 15px 18px 18px 22px;
  top: calc(100% + 15px);
  width: 256px;
  left: 50%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background: #333333;
  border-radius: 10px;
  transform: translateX(-50%);
  box-shadow: 0 15px 30px rgba(0, 0, 0, .3);
}

.popup-text::before {
  position: absolute;
  content:"";
  background-image: url("../images/action-icons/triangle.svg");
  width: 19px;
  height: 9px;
  top: -9px;
  left: 118px;
}

.popup-button:hover + .popup-text {
  display: block;
}

.popup-button {
  width: 26px;
  height: 26px;
  color: #ffffff;
  background: #83B3D3;
  border: none;
  background-image: url("../images/action-icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
}

.adults-counter,
.children-counter {
  margin: 0;
  padding: 14px 0;
  width: 31px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  border: none;
  border-radius: 0;
  background-color: #F2F2F2;
  text-align: center;
  appearance: textfield;
}

.adults-counter::-webkit-outer-spin-button,
.adults-counter::-webkit-inner-spin-button,
.children-counter::-webkit-outer-spin-button,
.children-counter::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.button-minus,
.button-plus {
  margin: 0;
  padding: 14px 10px;
  width: 40px;
  border: none;
  background-color: #F2F2F2;
  outline: none;
}

.button-minus:hover path,
.button-plus:hover path {
  fill: #000000;
  fill-opacity: 1;
}

.button-minus:focus-visible path,
.button-plus:focus-visible path {
  outline: 3px solid #82B3D3;
  border: none;
  fill: #000000;
  fill-opacity: 1;
}

.button-minus:active path,
.button-plus:active path {
  fill: #000000;
  fill-opacity: .2;
}

.button-pointer {
  display: block;
  cursor: pointer;
}

.button-minus {
  border-radius: 4px 0 0 4px;
}

.button-plus {
  border-radius: 0 4px 4px 0;
}

.check-in-date,
.check-out-date {
  margin: 0;
  padding: 12px 70px 12px 20px;
  width: 440px;
  border: none;
  border-radius: 4px;
  background-color: #F2F2F2;
}

.modal-button-search {
  display: block;
  margin: 0;
  margin-top: 25px;
  padding: 18px 256px;
  font-size: 20px;
  line-height: 24px;
  width: 577px;
  border-radius: 10px;
  background-color: #83B3D3;
  grid-column: 1 / -1;
}
