@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

input, button, select, textarea {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button-want-here {
  display: block;
  width: 160px;
  margin: 0 auto;
  padding: 8px 34px;
  border-radius: 4px;
  background-color: #756157;
}

.button-search-hotel {
  display: table;
  margin: 0 auto;
  width: 376px;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-radius: 4px;
  background-color: #756157;
}

.button-mailing {
  padding: 8px 50px;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-family: "PT Sans";
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.button-submit {
  background-color: #82B3D3;
}

.button-reset {

}

.button-sorting-black {
  color: #000000;
}

.button-hotel-more-info {
  width: 140px;
  height: 36px;
  padding: 8px 20px;
  border-radius: 4px;
  background-color: #756157;
}

.button-hotel-favorite {
  width: 140px;
  height: 36px;
  padding: 8px 20px;
  border-radius: 4px;
  background-color: #82B3D3;
}

.button-hotel-in-favorite {
  width: 140px;
  height: 36px;
  padding: 8px 18px;
  border-radius: 4px;
  background-color: #7DB54F;
}

.email-field {
  background-color: #F2F2F2;
  font-family: "PT Sans";
}

/* index */

/* header */

.page-header {
  position: relative;
  padding-left: 70px;
  padding-right: 70px;
}

.logo {
  display: block;
  width: 140px;
  margin-right: 30px;
  margin-bottom: -6px;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-user-link {
  display: block;
  padding: 22px 12px;
  min-width: 44px;
  min-height: 64px;
}

.navigation-user-item-button {
  margin-left: 20px;
}

/* hero */

.hero {
  padding-top: 52px;
  padding-bottom: 83px;
  background-color: #2f4850;
  background-image: url("../images/main/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* main */

.main-container {
  flex-grow: 1;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
}

.hero-module {
  padding-top: 69px;
  padding-bottom: 90px;
  text-align: center;
}

.hero-module-title {
  margin: 0 auto;
  width: 620px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.hero-module-subtitle {
  margin: 0;
  padding-top: 25px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-item {
  width: 100%;
}

.advantages-item-with-image {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #82B3D3;
  grid-column: 1 / -1;
}

.advantages-item-with-image-reverse {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row-reverse;
  background-color: #82B3D3;
  grid-column: -1 / 1;
}

.advantages-wrapper {
  padding: 102px 85px;
  background-color: #82B3D3;
}

.advantages-item-light-gray {
  padding: 102px 85px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-gray {
  padding: 102px 85px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-description {
  position: relative;
  margin: 0;
  padding: 62px 0 0 0;
}

.advantages-title-white,
.advantages-description-white {
  color: #ffffff;
}

.advantages-module {
  padding: 64px 0;
  text-align: center;
}

.advantages-module-title {
  margin: 0 auto;
  width: 505px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-module-subtitle {
  margin: 0;
  padding-top: 20px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.suggestions-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  list-style-type: none;
}

.suggestions-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
  padding: 81px 85px;
}

.suggestions-image {

}

.suggestions-item-light-gray {
  background-color: rgba(131, 179, 211, 0.12);
}

.suggestions-item-white {
 background-color: #ffffff;
}

.sugguestion-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.suggestion-description {
  margin: 0;
}

.modules-intresting {
  padding: 96px 304px;
  text-align: center;
}

.modules-title-intresting {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modules-subtitle-intresting {
  margin: 0 auto;
  width: 592px;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.mailing {
  text-align: center;
  padding: 96px 258px 104px;
  background-color: #758a98;
  background-image: url("../images/main/subscribe-index.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.mailing-title {
  margin: 0;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.mailing-subtitle {
  margin: 0 auto;
  width: 475px;
  padding-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.mailing-form {
  display: flex;
}

.email-field {
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  height: 52px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
}

/* catalog */

.inner-main {

}

.inner-wrapper {
  background-color: #7496b9;
  background-image: url("../images/main/catalog-background-blur.jpg");
  padding: 35px 70px 70px;
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  color: #ffffff;
  list-style-type: none;
}

.breadcrumbs-link {
  margin-right: 29px;
  color: inherit;
  text-decoration: none;
}

.hotels-filter {
  display: flex;
}

.hotel-search-results {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 0 70px;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 70px;
  padding: 0;
  gap: 8px;
  list-style-type: none;
}

.sorting-item {
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.sorting-item-current {
  border-color: #000000;
}

.sorting-item:hover {
  border-color: #000000;
}

.sorting-item:focus,
.sorting-item:focus-visible {
  border-color: #68A2CA;
  outline: none;
}

.sorting-item:active {
  border-color: #000000;
}

.card-grid-toggle {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-card-list {
  margin-bottom: 40px;
  padding: 0 70px;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #ffffff;
}

.found-hotels {
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  font-size: 18px;
  line-height: 21px;
  padding: 14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-image {
  display: block;
}

.hotel-card-image {
  grid-column: 2 span;
}

.hotel-card-title {
  grid-column: 2 span;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotel-card-link {
  margin: 0;
  color: #000000;
  text-decoration: none;
}

.hotel-card-type {
  margin: 0;
}

.hotel-card-price {
  margin: 0;
  text-align: right;
}

.button-hotel-more-info {
  padding: 8px 20px;
  background-color: #756157;
  border-radius: 4px;
}

.button-hotel-favorite {
  padding: 8px  20px;
  background-color: #82B3D3;
  border-radius: 4px;
}

.hotel-rating {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  padding: 8px 22px;
  border-radius: 4px;
}

.pagination-container {
  padding: 0 70px;
  margin-bottom: 60px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 40px 0 0;
  border-top: 1px solid #E6E6E6;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  width: 60px;
  height: 60px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  border-radius: 4px;
}

.pagination-number-skip {
  display: flex;
  width: 60px;
  height: 60px;
  font-size: 22px;
  line-height: 26px;
  align-items: center;
  justify-content: center;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.inner-mailing {
  text-align: center;
  padding: 96px 258px 104px;
}


.inner-mailing-title {
  margin: 0;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.inner-mailing-subtitle {
  margin: 0 auto;
  width: 475px;
  padding-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/* footer */

.page-footer {
  display: flex;
  padding: 40px 70px 30px;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 48px;
  height: 40px;
}

.social-apps-link {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-social-vk {
  background-image: url("../images/footer/vk.svg");
  background-size: 24px 14px;
}

.footer-social-tg {
  background-image: url("../images/footer/telegram.svg");
  background-size: 18px 16px;
}

.footer-social-yt {
  background-image: url("../images/footer/youtube.svg");
  background-size: 22px 17px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  align-self: center;
  text-decoration: none;
}

.html-academy-logo {
  width: 115px;
}
